<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Тема - простые опросы{% endblock %}</title>
    <!-- links -->
    <link rel="icon" type="image/x-icon" href="{{ asset('assets/img/icons/fav/icon.ico') }}" />
    <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>