
.capability-list {
	margin-top: 2em;
	margin-bottom: 2em;
}

.capability_item {

	a {
		color: $color-main;
		display: block;
	}
}

.capability-item_title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1em;
	text-align: center;
}
